<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.we.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="text-align: center">
            <h1 th:text="${name}"></h1>
            <h2 th:text="${day}"></h2>
            <h2 th:text="${name2}"></h2>
            <hr>
                <form action="/index" method="POST">
                    <input type="text" name="txtname"/>
                    <input type="submit" name="Submit" value="Submit"/>
                </form>
        </div>

    </body>

</html>
